/* header section */
@media screen and (max-width:750px) {

  .navlist {
    display: none;
  }

  body.show-mobile-menu header::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(3px);
    background: rgba(0, 0, 0, 0.2);

  }



  .responsive-size {
    position: fixed;
    top: 0;
    left: -50%;
    background: #303030;
    list-style: none;
    display: block;
    width: 50%;
    height: 100%;
    z-index: 1000;
    transition: left 0.4s ease;

  }

  body.show-mobile-menu .responsive-size {
    left: 0;
  }



  .logo img {
    width: 80px;
    height: auto;
  }

  .responsive-size ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .responsive-size a {
    color: #E1B875;
    padding: 0 5px;
    font-weight: 500;
    font-size: 17px;
    margin: 3px;
    text-decoration: none;
    position: relative;
    transition: all 0.4s;
    display: flex;
    box-sizing: border-box;
    z-index: 100;
    line-height: 50px;
  }

  .home-mobile:hover,
  .home-mobile:focus {
    color: goldenrod;
  }

  .home-mobile::before {
    content: "";
    height: 3px;
    width: 100%;
    background: goldenrod;
    position: absolute;
    left: 0px;
    bottom: 10px;
    opacity: 0;
    transition: transform .3s linear;
    transform: scaleX(0);

  }

  .home-mobile:hover::before {
    opacity: 1;
    transform: scaleX(1);
    border-radius: 50px;
  }




  .menu {
    font-size: 1.8rem;
    border: none;
    cursor: pointer;
    background: #F2C77E;
    border-radius: 3px;
    color: #302e2e;
    display: block;
    height: auto;
    width: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .close-div {
    width: 100%;
    height: 100px;
    position: relative;
  }

  .close {
    font-size: 1.9rem;
    border: none;
    z-index: 100;
    cursor: pointer;
    background: #F2C77E;
    border-radius: 3px;
    color: #302e2e;
    display: block;
    height: auto;
    width: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 73%;
    margin-top: 12%;
  }


}

/* header section */


/* home section  */


@media screen and (max-width:1400px) {


  .home-img {
    width: 500px;
    height: 500px;
    background: #1d1d1d;
    margin: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-imgs {
    width: 400px;
    height: 400px;
    background: url(img/img1.png);
    background-size: cover;
    background-position: center;
  }

  .home-section {
    width: 100%;
    height: 100vh;
    background: #2c2c2c;
    display: flex;
    align-items: end;

  }

  .home-contain {
    width: 100%;
    height: calc(100vh - 9vh);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    position: relative;
  }



}





@media screen and (max-width:1040px) {

  .about-imges {
    width: 100%;
    height: 4vh;
    margin-top: 80px;
    position: unset;
  }

  .home-section {
    height: auto;
  }

  .home-contain {
    height: auto;
  }


  .home-write {
    text-align: center;
  }

  .about-food {
    width: 100%;
    height: 100%;
    margin-left: 0px;


  }

  .main-social-div {
    width: 100%;
    display: flex;
    justify-content: center;
  }



}


@media screen and (max-width:650px) {
  .home-write h1 {
    font-size: 28px;
  }

  .home-write p {
    padding: 0 10px;
    font-size: 13px;
  }


  .home-write {
    width: auto;
    height: auto;
  }

  .lorem-text {
    width: 315px;
  }


  .home-img {
    width: 280px;
    height: 280px;
    background: #1d1d1d;
    margin: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-imgs {
    width: 240px;
    height: 240px;
    background: url(img/img1.png);
    background-size: cover;
    background-position: center;
  }



  .foods {
    width: 85px;
    height: 85px;
    background: #1D1D1D;
    margin: 0px 2px;
    border-radius: 50% 50% 0 0;
    display: flex;
    justify-content: center;
  }

  .foods-main-img {
    width: 60px;
    height: 60px;
    background: #2C2C2C;
    border-radius: 50%;
    margin-top: 10px;
  }

  .foods-main-img img {
    width: 60px;
    height: auto;
  }

  .about-imges {
    margin-top: 50px;
  }

}

@media screen and (max-width:350px) {
  .home-img {
    width: 230px;
    height: 230px;
    background: #1d1d1d;
    margin: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-imgs {
    width: 200px;
    height: 200px;
    background: url(img/img1.png);
    background-size: cover;
    background-position: center;
  }




}


/* home section  */




/* food section */
@media screen and (max-width:1150px) {

  .fast-spacial-food {
    height: auto;
  }
}

@media screen and (max-width:1000px) {
  .spacial-food {
    padding: 5vh 0;

  }
}

@media screen and (max-width:650px) {

  .taital h2 {
    font-size: 22px;

  }

  .taital p {
    font-size: 14px;
    padding: 0 30px;
  }

  .taital {
    width: 100%;
    height: 150px;
    padding-top: 75px;
  }


}


@media screen and (max-width:460px) {
  .second-spacial-food {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

/* food section */



/*  cooks section  */
@media screen and (max-width:1150px) {
  .cooks-main-contain {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .cooks-main {
    padding: 5vh 0;
  }

  .cooks-img {
    width: 100%;
    height: 500px;
    position: relative;
    isolation: isolate;
    display: grid;
    justify-content: center;
    align-items: end;

  }

  .cooks-text {
    width: 100%;
    height: auto;
    background: #2C2C2C;
    text-align: center;
    padding: 25px 0;
  }


  .cooks-text h2 {
    font-size: 40px;
    color: #daac51;
    font-weight: 800;
    margin-top: 0px;
  }

  .cooks-text p {
    color: #daac51;
    font-size: 16px;
    margin-top: 5px;
    width: auto;
    padding: 0 20px;
  }


}

@media screen and (max-width:600px) {
  .cooks-img img {
    width: 350px;
    height: auto;
  }

  .cooks-img {
    width: 100%;
    height: 300px;

  }


  .cooks-img::before {
    position: absolute;
    content: "";
    height: 300px;
    width: 100%;
    right: 0;
    bottom: 0;
    clip-path: polygon(0 0, calc(100% - 15rem) 0%, 100% 100%, 0% 100%);
  }

  .cooks-text h2 {
    font-size: 28px;
    color: #daac51;
  }

  .cooks-text p {
    font-size: 15px;
  }
}

@media screen and (max-width:350px) {
  .cooks-img img {
    width: 300px;
    height: auto;
  }

  .taital {
    width: 100%;
    height: 170px;
    text-align: center;
    padding-top: 80px;
  }
}

/*  cooks section  */



/* review section */

@media screen and (max-width:1050px) {
  #review {
    padding: 22px;
  }


}

@media screen and (max-width:850px) {
  #background {
    width: 38vw;
  }

  #all-plate {
    width: 36vw;
    height: 34vw;
  }

  #img-three {
    width: 20vw;
    position: absolute;
    top: 0%;
    left: -12%;
    animation: circle 20s infinite linear;
  }

  #img-two {
    width: 22vw;
    position: absolute;
    bottom: -18%;
    right: 10%;
    animation: circle 20s infinite linear;
  }

  #img-one {
    width: 22vw;
    position: absolute;
    top: 5%;
    right: -25%;
    animation: circle 20s infinite linear;
  }
}








@media screen and (max-width:650px) {


  .main-content {
    height: auto;
    flex-direction: column-reverse;
  }

  #all-plate {
    width: 30vw;
    height: 30vw;
  }


  .rght {
    width: 100%;
    height: auto;
  }

  #background {
    width: 85vw;
  }

  #all-plate {
    width: 50vw;
    height: 50vw;
  }

  #img-one {
    width: 50vw;
    right: -60%;
  }

  #img-three {
    width: 43vw;
    left: -30%;
    top: -40%;
  }

  #img-two {
    width: 40vw;
    bottom: -50%;
    right: 35%;
  }

  .lft {
    width: 100%;
    text-align: center;
    margin-top: 40px;
  }

  .lft h1 {
    font-size: 10vw;
    line-height: 1;
  }

  .lft .lft-p {
    width: 32vw;
    color: #c4a15b;
    width: 100%;
    margin-top: 10px;
  }

  .slaider {
    width: 100%;
    margin-top: 10px;
  }

  .swiper {
    padding-bottom: 1rem;
    width: 100%;
    text-align: left;
  }

}



/* review section */



/* contact section */
@media screen and (max-width:1200px) {
  .contact-text p {
    font-size: 1.2vw;

  }

  .contact-input {
    width: 62%;
    margin-top: 4.5%;
  }

  .input-box {
    width: 100%;
    height: 3.3vw;
  }

  .input-box button {
    width: 150px;
    height: 3.2vw;
    font-size: 12px;
  }

  .input-box input {
    font-size: 11px;
  }

  .input-box label {
    font-size: 12px;
  }
}

@media screen and (max-width:1200px) {
  .main-contact {
    padding: 70px 0px;
  }
  
}

@media screen and (max-width:750px) {
  .main-contact {
    width: 100%;
    height: auto;
    padding: 30px 0px;
  }
  
  .contact-containar {
    width: 100%;
    height: auto;
    background:#1D1D1D;
    background-size: cover;
    background-position: center;
    display: unset;
    display: grid;
    padding: 20px 0;
  }

  .contact-mobile {
    width: 100%;
    height:auto;
    display: flex;
    justify-content: center;
    padding-right: 0;
    align-items: center;
  }
  
  .contact-mobile img {
    width: 55vw;
    height: auto;
  }

  .contact-text {
    width: 100%;
    height: auto;
    text-align: center;
  }
  .contact-text h1 {
    font-size: 8vw;
    color: #DBA842;
    margin-top: 2%;
  }
  .contact-text p {
    font-size: 3vw;
    color: #DBA842;
    width: 100%;
    padding: 0 20px;
    margin-top: 5px;
  }

  .contact-input {
    width: 100%;
    display: flex;
    align-items: center;
    padding:0 15%;
    margin-top: 4.5%;
  
  }

  .input-box {
    position: relative;
    width: 100%;
    height: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .input-box input {
    width: 100%;
    height: 100%;
    color: black;
    font-size: 14px;
    font-weight: 500;
    border: none;
    outline: none;
    transition: .5s;
    padding: 0 10px;
  
  }
  
  
  .input-box label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 14px;
    color: var(--black);
    pointer-events: none;
    transition: 0.5s;
  }


  
  
  .input-box button {
    width: 150px;
    height: 8vw;
    border: none;
    background: #2A2A2A;
    color: white;
    font-weight: 600px;
    font-size: 15px;
  }
}

@media screen and (max-width:400px) {
    
  .contact-input {
    width: 100%;
    display: flex;
    align-items: center;
    padding:0 7%;
    margin-top: 5.5%;
  
  }
  .input-box input {
    width: 100%;
    height: 100%;
    font-size: 10px;
    font-weight: 500;
    border: none;
    outline: none;
    transition: .5s;
    padding: 0 10px;
  
  }
  
  
  .input-box label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 12px;
    color: var(--black);
    pointer-events: none;
    transition: 0.5s;
  }

  .input-box button {
    width: 150px;
    height: 8vw;
    border: none;
    background: #2A2A2A;
    color: white;
    font-weight: 600px;
    font-size: 12px;
  }
  
}

/* contact section */



/*=============== FOOTER===============*/

@media screen and (max-width: 1050px) {
  .footer-list {
    width: 280px;
    height: auto;
    margin: 20px;
  }

  footer {
    height: auto;
  }



}

.right {
  width: 100%;
  height: 3vh;
  text-align: center;
}

.right span {
  margin-top: -5px;
}

@media screen and (max-width: 500px) {
  .right {
    height: auto;
  }
}

/*=============== FOOTER  end===============*/
